extends ../MainTemplate
block headContent
	link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300' rel='stylesheet')
	style.
		#r-contentWrap{
			width:1000px;
			position:absolute;
			top:100px;
			margin-left:-500px;
			left:50%;
			padding:30px;
			box-sizing:border-box;
		}
block bodyContent
	div(id="r-contentWrap")
		input(style="padding:10px;padding-left:50px;box-sizing:border-box;background:#EEE;border:0;font-family:Open Sans;outline:0;font-weight:100;width:100%;margin-bottom:30px;" placeholder="Search for courses, professors, etc.")
		div(style="float:left")
		div(style="float:right;width:100%;")
			div(style="border:1px solid #DDD;height:150px;width:150px;float:left;margin:10px;")
			div(style="border:1px solid #DDD;height:150px;width:150px;float:left;margin:10px;")
			div(style="float:left;margin:10px;height:150px;width:522px;border:1px solid #DDD;margin-top:10px;position:relative;box-sizing:border-box;padding:20px;")
				div(style="font-weight:400;font-size:14px;float:left;font-family:Raleway;") Special Topics in African Studies
				div(style="font-weight:300;font-size:12px;font-family:Open Sans;float:right;color:#999;") 
					|NEW451H1F
					div(style="height:10px;width:10px;background:#a66bbe;float:right;margin-left:10px;")
				div(style="font-weight:100;font-size:12px;margin-top:30px;font-family:Open Sans;") An upper level course. Topics of study vary from year to year.
				div(style="height:30px;width:100%;bottom:0px;left:0px;position:absolute;")
					div(style="font-family:Open Sans;font-weight:100;font-size:12px;border-right:1px solid #DDD;border-top:1px solid #DDD;float:left;height:30px;width:80px;text-align:center;line-height:30px;") Quick Rate
					div(style="font-family:Open Sans;font-weight:100;font-size:12px;border-right:1px solid #DDD;border-top:1px solid #DDD;float:left;height:30px;width:100px;text-align:center;line-height:30px;") Read Reviews
					div(style="font-family:Open Sans;font-weight:300;float:right;font-size:13px;margin-right:10px;") 
						|Easy: 
						span(style="font-weight:400;") 3.6
					div(style="font-family:Open Sans;font-weight:300;float:right;font-size:13px;margin-right:10px;") 
						|Fun: 
						span(style="font-weight:400;") 3.6
				div(style="height:1px;position:absolute;bottom:0px;left:0px;width:100%;background-color:#2ecc71;")
			div(style="border:1px solid #DDD;height:150px;width:150px;float:left;margin:10px;")
			div(style="border:1px solid #DDD;height:150px;width:150px;float:left;margin:10px;")
			div(style="float:left;margin:10px;height:150px;width:522px;border:1px solid #DDD;margin-top:10px;position:relative;box-sizing:border-box;padding:20px;")
				div(style="font-weight:400;font-size:14px;float:left;font-family:Raleway;") Special Topics in African Studies
				div(style="font-weight:300;font-size:12px;font-family:Open Sans;float:right;color:#999;") 
					|NEW451H1F
					div(style="height:10px;width:10px;background:#a66bbe;float:right;margin-left:10px;")
				div(style="font-weight:100;font-size:12px;margin-top:30px;font-family:Open Sans;") An upper level course. Topics of study vary from year to year.
				div(style="height:30px;width:100%;bottom:0px;left:0px;position:absolute;")
					div(style="font-family:Open Sans;font-weight:100;font-size:12px;border-right:1px solid #DDD;border-top:1px solid #DDD;float:left;height:30px;width:80px;text-align:center;line-height:30px;") Quick Rate
					div(style="font-family:Open Sans;font-weight:100;font-size:12px;border-right:1px solid #DDD;border-top:1px solid #DDD;float:left;height:30px;width:100px;text-align:center;line-height:30px;") Read Reviews
					div(style="font-family:Open Sans;font-weight:300;float:right;font-size:13px;margin-right:10px;") 
						|Easy: 
						span(style="font-weight:400;") 3.6
					div(style="font-family:Open Sans;font-weight:300;float:right;font-size:13px;margin-right:10px;") 
						|Fun: 
						span(style="font-weight:400;") 3.6
				div(style="height:1px;position:absolute;bottom:0px;left:0px;width:100%;background-color:#2ecc71;")
				