extends HomeTemplate
block bodyContent
	div(style="font-size:50px;font-weight:100;font-family:Raleway") Hey There!
	br
	div(style="width:400px;font-size:20px;font-weight:400;font-family:Raleway") If you feel as though one of your buddies could benefit from Schedular. Feel free to put their email below.
	br
	input(style="font-size:12px;font-weight:300;padding:10px;border:1px solid #DDD;outline:0;font-family:Open Sans;width:200px" placeholder="Email") 