/* don't select */
.no_s{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body{
	background:#fff;
}


    #navbar{
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			height:45px;
			margin-top:10px;
			z-index:1000;
    }
    #innerNavbar{
        position:absolute;
        width:1000px;
        height:45px;
        left:50%;
        top:0px;
        margin-left:-500px;
    }
        #logoWrap{
            width:200px;
            display:inline-block;
        }
            #logo{
                background:url(/images/mainLogo-25px.png) center center no-repeat;
                width:50px;
                height:45px;
                float:left;
                background-size:25px;
            }
        #accountWrap{
            float:right;
            display:inline-block;
        }
            #accountName{
                font-family:Open Sans;
                font-size:13px;
                font-weight:100;
                padding-top:12.5px;
                float:left;
            }
            #menuDrop{
                background:url(/images/menuIcon.png) center center no-repeat;
                margin:13.5px;
                height:18px;
                width:18px;
                float:right;
                background-size:100%;
                cursor:pointer;
                transition:transform .25s;
            }
            .menuDrop-active{
                transition:transform .25s;
                -ms-transform: rotate(180deg); 
                -webkit-transform: rotate(180deg); 
                transform: rotate(180deg);
                cursor:pointer;
            }
                #menuContainer{
                    position:absolute;
                    top:55px;
                    right:0px;
                    z-index:100;
                    border:1px solid #DDD;
                    background-color:#FFF;
                    display:none;
                    z-index: 1000000000000000;
									box-shadow: 0px 0px 3px #DDD;
                }
                #menuNub{
                    position:absolute;
                    top:-19px;
                    right:5px;
                    height:19px;
                    width:38px;
                    background:url(/images/triangleUp.png) center center no-repeat;
                }

        ul#menuItems-list{
            list-style-type:none;
            padding:10px;
            margin:0;
        }
            li.menuItems-listItem{
                font-family:Open Sans;
                font-size:13px;
                font-weight:100;
                padding:10px;
                cursor:pointer;
            }
                li.menuItems-listItem:hover{
                    background-color:#f9f9f9;
                }
            .clearfix:after {
               content: " "; /* Older browser do not support empty content */
               visibility: hidden;
               display: block;
               height: 0;
               clear: both;
            }
            a{
                color:inherit;
                outline:0;
                text-decoration:none;
            }







/* Tool tip styles */

	.gTT-pop{
			font-family:Open Sans;
			font-size:12px;
			font-weight:100;
			color:#FFF;
			background-color:#2c3e50;
			padding:5px;
			border-radius:3px;
			position:absolute;
	}