
#signupContainer{
    height:430px;
    width:250px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-215px;
    margin-left:-125px;
}

#loginContainer{
    height:320px;
    width:250px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-160px;
    margin-left:-125px;
}

    .u-signInput{
        padding:12px;
        font-family:Open Sans;
        font-size:12px;
        outline:none;
        border-radius:3px;
        border:1px solid #ccc;
        font-weight:100;
        margin:7px 3% 7px 3%;
        width:94%;
        box-sizing:border-box;
        
    }
        #u-signSubmit{
            background-color:#FFF;
            border:1px solid #3498db;
            color:#3498db;
            cursor:pointer;
            padding:10px;
            width:80%;
            margin-left: 10%;
						transition: background-color .25s;
        }
            #u-signSubmit:hover{
							background-color:#3498db;
							color:#FFF;
							transition: background-color .25s;
            }
            #u-signSubmit:active{
                box-shadow: 0px 0px 10px #777 inset;
            }
            .u-forgotLink{
                color:#3498db;
                text-decoration: underline;
                float:right;
                font-family:Open sans;
                font-weight:300;
                font-size:12px;
                margin-right:5%;
            }
    .u-largeLogoContainer{
        height:100px;
        
    }
        span.u-largeLogoText{
            font-family:Raleway;
            font-size:30px;
            float:right;
            font-weight:300;
            color:#444;
        }
        img.u-largeLogoImage{
            height:40px;
            float:left;
        }

    #notificationContainer{
			font-family:Open Sans;
			font-size:12px;
			width:100%;
			padding:10px;
			box-sizing: border-box;
			margin-top:0px;
			color:#FFF;
			background-color:#1ABEEE;
			display: none;
			margin-bottom:10px;
    }


/* Account type selector for signup styling */

    #accountType-wrap{
        margin-top:20px;
        width:200px;
        height:60px;
        margin-left:10px;
    }
        .aT-selectionCircle{
            height:20px;
            width:20px;
            border:1px solid transparent;
            border-radius:100px;
            cursor: pointer;
            transition: background-color .5s;
            float:left;
            box-sizing: border-box;
            background:url(../images/radioCircle.png) center center no-repeat;
            margin-top:-1px;
        }
            .aT-selectionLabel{
                font-weight:300;
                font-family: Open Sans;
                font-size:12px;
                margin-left:10px;
            }
                #active-aT-selectionCircle{
                    background:url(../images/whiteDot.png) #1abc9c center center no-repeat;
                    background-size:110%;
                    transition: background-image 1s;
                }
        .aT-selectionConnector{
            height:15px;
            width:3px;
            border:1px solid #DDD;
            border-top:0;
            border-bottom:0;
            margin-left:7px;
        }