doctype html
html
    head
        script(src="/js/global.js")
    body
        div(style="font-size:40px;font-weight:100;text-align:center;font-family:Raleway;margin-top:100px;" id="dot-thingy") Checking on your account...
        script.
            var dotCounter  =   0;
            setInterval(function(){
                document.getElementById('dot-thingy').innerHTML='Checking on your account'+('.'.repeat(dotCounter++%3));
            },400);
            $.get({
                url:'/forgotAuth/continue?uniq='+getParams('uniq')
            });
            
            
            function getParams(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }