extends ../MainTemplate
block headContent
	link(rel="stylesheet" href="/css/profile.main.css")
block bodyContent
	div(id="contentContainer")
		div(id="p-nameContainer") Fatty McFattyPants
			div(id="p-nameCallToAction") (Vicky Zhang is gay)
		//button(id="p-passChange") Change My Password
		//button(id="p-passChange") Change My Privacy 
		div(id="p-infoContainer")
			div(id="p-infoPofilePhoto")
				img(src="/images/gf.jpg" width="150px" height="150px")
			p(id="p-infoTitle") Additional Info
			p(class="p-infoSection") 
				label(class="p-infoSectionHead") email: 
				label(class="p-infoSectionBody") vicky@pornhub.com
			p(class="p-infoSection") 
				label(class="p-infoSectionHead") username:
				label(class="p-infoSectionBody") vicky
			p(class="p-infoSection") 
				label(class="p-infoSectionHead") favourite colour:
				label(class="p-infoSectionBody") blue
			p(class="p-infoSection") 
				label(class="p-infoSectionHead") courses enrolled:
				label(class="p-infoSectionBody") CHEM113, PHYS112, ENGR151, COMP125, ENGR122
			p(class="p-infoSection") 
				label(class="p-infoSectionHead") major:
				label(class="p-infoSectionBody") Political Science