doctype html
html
    head
        link(rel="stylesheet" href="/css/userGlobal.css")
        link(href='https://fonts.googleapis.com/css?family=Open Sans:400,100,300' rel='stylesheet')

        link(href='https://fonts.googleapis.com/css?family=Raleway:400,300,100',rel='stylesheet')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js')
        script(src="/js/global.js")
        title="Schedular.io | Signup"
    body
        div(id="signupContainer")
            img(style="display:none;" src="/images/loginAjax.gif")
            div(class="u-largeLogoContainer")
                span(class="u-largeLogoText") Signup 
                img(class="u-largeLogoImage" src="/images/mainLogo.png") 
            div(id="notificationContainer")
            input(class="u-signInput" id="u-username" placeholder="Desired Username")
            br
            input(class="u-signInput" id="u-password" placeholder="Desired Password" type="password")
            br
            input(class="u-signInput" id="u-studentNumber" placeholder="Student Number")
            br
            a(class="u-forgotLink" href="/u/login") Already have an account?
            br
            
            div(id="accountType-wrap")
                div(class="aT-selectionCircle" data-accountType="student" id="active-aT-selectionCircle")
                label(class="aT-selectionLabel") I'm a Student
                br
                div(class="aT-selectionConnector")
                div(class="aT-selectionCircle" data-accountType="faculty")
                label(class="aT-selectionLabel") I'm Faculty
            
            br
            br
            div(id="faculty-email-cover" style="display:none;margin-bottom:10px;")
                input(class="u-signInput" placeholder="Faculty email, e.g. john.smith@ufv.ca")
            input(class="u-signInput" id="u-signSubmit" value="Signup" type="submit")
            
            
        script(src="/js/user/signup.js")