extends ../MainTemplate

block headContent
	link(rel="stylesheet" href="/css/create.main.css")
	title="Create Schedule"
block bodyContent
	section#mainContent
		#termContainer
			div(style="float:left;background:#FFF;")
				.seasonIcon.activeTermIcon(data-gTTLbl="winter 2016 (available)" class="gTT-act")
					img(src="/images/snowflake.png" width="30px")
				.seasonIcon(data-gTTLbl="summer 2016 (coming soon)" class="gTT-act")
					img(src="/images/sun.png" width="30px")
				.seasonIcon(data-gTTLbl="fall 2016 (coming later)" class="gTT-act")
					img(src="/images/leafIcon.png" width="30px")
		#centerContainer
			p#mainTitle Your Courses
			input#courseInput(type="text",placeholder="Enter your courses, e.g. Academic Writing, ENGL105")
			div#instantDropDown(style="display:none;background-color:#FFF;")
			br
			br
			p(style="font-family:Open Sans;font-size:12px;font-weight:100;padding-left:100px;") Your Current Schedule Contains:
			ul#courseChoiceContainer(style="margin-left:100px;width:550px;padding-right:50px;float:left;")
			br
			div(style="width:100%;text-align:center")
				button#scheduleCreate(type="submit") Create Schedule
			//button#scheduleCreate(type="submit" style="margin-left:20px;background:#2ecc71") Show Reviews
		script(src="/js/create.main.js")