extends ../MainTemplate
block headContent
	link(rel="stylesheet" href="/css/manage.main.css")
block bodyContent

	div(id="m-large-name") Saved Schedules:
	div(id="box-container")
	div#main-loadingGear(style="height:100px;width:100px;background:url(/images/gears.gif) center center no-repeat;background-size:100px 100px;z-index:100000;position:absolute;top:50%;margin-top:-50px;left:50%;margin-left:-50px;padding:40px;")
		p(style="position:absolute;bottom:0px;left:0px;font-family:Open Sans;font-size:12px;font-weight:100;text-align:center;width:100%;") This may take some time...


	script(src="/js/manage.main.js")
	
	
	div(class="box-container" id="boxPossibleTemplate")
		canvas(height="200px" width="200px" class="box-image")
		div(class="box-infoContainer")
			div(class="box-infoTitle") A Schedule
			div(class="box-createTime") Thursday, Jan 12
		span(class="box-actionContainer")
			div(class="box-actionTab" style="padding:0px 9px 0px 9px") Delete
			div(class="box-actionTab") Edit
			div(class="box-actionTab") Books
			div(class="box-actionTab") Share