extends ../MainTemplate
block headContent
	link(rel="stylesheet" href="/css/manage.main.css")
block bodyContent

	div(id="m-large-name") Saved Schedules:
	div(id="box-container")
		


	script(src="/js/manage.main.js")