extends ../MainTemplate
block headContent
	link(rel="stylesheet" href="/css/manage.main.css")
	title Manager
block bodyContent

	div(style="background:rgba(0,0,0,0.8);z-index:1000000;height:100%;width:100%;top:0px;left:0px;position:fixed;")
		div.material(style="height:500px;width:1000px;background:#FFF;position:absolute;top:50%;left:50%;margin-top:-250px;margin-left:-500px;")
			img(src="/images/myUFVScreen1.png" height="250px" style="float:left;margin-top:100px;margin-right:20px;margin-left:20px;")
			div(style="background:#DDD;height:100%;width:1px;float:left;")
			img(src="/images/myUFVScreen2.png" height="250px" style="float:left;margin-top:100px;margin-right:20px;margin-left:20px;")
			div(style="background:#DDD;height:100%;width:1px;float:left;")
			textarea(placeholder="paste it here!" style="font-family:Open Sans;font-size:12px;outline:0;resize:none;scroll:none;background:#DDD;border:0;height:200px;width:200px;margin-left:40px;box-sizing:border-box;padding:10px;border-radius:10px;margin-top:40px;")
	div(id="m-large-name") My Schedules
		div(style="padding:10px;float:right;font-size:12px;border-radius:3px;background-color:#2c3e50;color:#FFF;cursor:pointer;") Import From myUFV
	div(id="box-container")
	div#main-loadingGear(style="height:100px;width:100px;background:url(/images/gears.gif) center center no-repeat;background-size:100px 100px;z-index:100000;position:absolute;top:50%;margin-top:-50px;left:50%;margin-left:-50px;padding:40px;")
		p(style="position:absolute;bottom:0px;left:0px;font-family:Open Sans;font-size:12px;font-weight:100;text-align:center;width:100%;") This may take some time...


	script(src="/js/manage.main.js")
	
	
	div(class="box-container" id="boxPossibleTemplate")
		canvas(height="200px" width="200px" class="box-image")
		div(class="box-infoContainer")
			div(class="box-infoTitle") A Schedule
			div(class="box-createTime") Thursday, Jan 12
		div(class="box-actionContainer")
			div(class="box-actionTab" style="padding:0px 9px 0px 9px") Delete
			div(class="box-actionTab") Edit
			div(class="box-actionTab") Books
			div(class="box-actionTab") Share